
.container{
    display:flex;  
    flex-wrap: wrap;  
}

.botones{
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.sub-container button a{
    display: flex;
    color: black;
    list-style: none;
    text-decoration: none;
    
}
.sub-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.sub-container button{
    padding: 5px;
}
.redes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.redes img{
    width: 60px;
    height:60px;
    padding:0px;
}