
<div class="container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.784310765211!2d-58.42938742486292!3d-34.73583076448635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccdccacbd0691%3A0xd727d52836c7a364!2sNo%20picnic!5e0!3m2!1ses!2sar!4v1684377485737!5m2!1ses!2sar" width="840" height="540" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-
</div>
<br>
<div class="sub-container">
  <section class="llamanos">
    <a class="btn btn-info" href="https://wa.me/1539540762 " target="_blank">HACENOS TU PEDIDO!</a>
    <p>TEL: +54 1132305970</p>
  </section>
  <section class="direccion">
    <a class="btn btn-info" href="https://www.google.com/maps/dir//No+picnic+Av.+12+de+Octubre+1699+B1828DMO+Villa+Centenario+Provincia+de+Buenos+Aires/@-34.7358505,-58.4268453,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x95bccdccacbd0691:0xd727d52836c7a364!2m2!1d-58.4268453!2d-34.7358505" target="_blank" >COMO LLEGAR</a>
    <p>Mayor Olivero 1892 <br>
      Banfield, Villa Centenario
    </p>
  </section>
  <section>
    <app-horario-atencion></app-horario-atencion>
  </section>
</div>
<section class="redes">
  <a href="https://www.instagram.com/nopicnic.bar/" target="_blank"><img src="../../../assets/photos/ig.webp" alt="ig"></a>
</section>
<app-footer></app-footer>













<!-- 

<div class="container">
    <h1>Ubicacion:</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.784310765211!2d-58.42938742486292!3d-34.73583076448635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccdccacbd0691%3A0xd727d52836c7a364!2sNo%20picnic!5e0!3m2!1ses!2sar!4v1684377485737!5m2!1ses!2sar" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

 -->