*{
        box-sizing: border-box;
        flex-wrap: wrap;  
}

.container{
    display:flex;
    justify-content: space-around;
}
.sub-container{
    display: flex;
    justify-content: space-around;

}
.espacio{
    padding: 100px;
}
.direccion p{
    padding: 6px;
}
.mostrar{
    display: block;
    padding: 16px;
    text-decoration: none;
    font-size: 1rem;
}
.redes img{
    width: 60px;
    height:60px;
    padding:0px;
}
.redes{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
