<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
          <form [formGroup]="form" class="form">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="mb-3">
                <label for="msg" class="form-label">Mensaje</label>
                <textarea id="msg" class="form-control" formControlName="mensaje"></textarea>
            </div>
            <div class="buttons">
              <button type="submit" (click)="save()" class="btn btn-info">Enviar</button>
            </div>
          </form>
        </div>
</div>
<app-footer></app-footer>















<!-- 

<div class="container">
    <h1>Ubicacion:</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.784310765211!2d-58.42938742486292!3d-34.73583076448635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccdccacbd0691%3A0xd727d52836c7a364!2sNo%20picnic!5e0!3m2!1ses!2sar!4v1684377485737!5m2!1ses!2sar" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

 -->