body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 270px;
    margin: 10px;
    border-radius: 25px;
    background-color: black;
}

.card-image{
    height: 240px;
    margin-bottom: 15px;
    background-size: cover;
    
}

.card-1{
    background-image: url(../../../assets/photos/ipa.jpg);
}
.card-2{
    background-image: url(../../../assets/photos/porter.jpg);
}
.card-3{
    background-image: url(../../../assets/photos/porter.jpg);
}
.card-4{
    background-image: url(../../../assets/photos/rubia.jpg);
}
.card-5{
    background-image: url(../../../assets/photos/rubia.jpg);

}
.card-6{
    background-image: url(../../../assets/photos/ginTonic.jpg);

}

.card h2{
    padding: 10px;
}

.card p{
    padding: 10px;
}
.card:hover{
    background-color: rgb(62, 62, 62);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
}
