<br>
<br>
<body>
    <section class="container">
        <div class="card">
            <div class="card-image card-1"></div>
                <h1>PORTER</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati rerum earum omnis sunt placeat aspernatur consectetur ipsa hic repellat fuga tempore, amet voluptatum quam, dolorum odit rem sapiente veritatis voluptatem.</p>
        </div>
        <div class="card">
            <div class="card-image card-2"> </div>
                <h2>IPA</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores inventore fugit mollitia, similique consequatur quos sapiente aliquid laborum delectus dolor eligendi, consectetur velit accusantium quas assumenda autem! Error, modi aliquam?</p>
           
        </div>
        <div class="card">
            <div class="card-image card-3"> </div>
                <h2>HONEY</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque tenetur neque magnam facere, nulla accusamus molestias eligendi distinctio voluptatum libero officiis! Voluptatibus repellendus labore velit? Ratione voluptas at quas harum.</p>
        </div>
        <div class="card">
            <div class="card-image card-4"> </div>
                <h2>SCOTISH</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis pariatur nulla provident. Quo voluptates possimus dicta minima! Quibusdam eius asperiores, beatae non perspiciatis consequatur a totam ex, eveniet quia nemo.</p>
        </div>
        <div class="card">
            <div class="card-image card-5"></div>
                <h2>GOLDEN</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minima cumque assumenda quasi fuga. Incidunt consequatur dignissimos pariatur, repellat consequuntur, laboriosam explicabo aliquam quisquam natus fugit nulla minus quod perspiciatis?</p>
        </div> 
        <div class="card">
            <div class="card-image card-6"></div>
                <h2>GIN TONIC (Artesanal)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla blanditiis dolor esse nemo totam quo, nam ipsam dignissimos architecto illo rem sint? Voluptas labore veritatis vel consequatur aliquam distinctio ad!</p>
        </div>  
    </section>
    <section class="espacio">

    </section>
    <app-footer></app-footer>

</body>
  

