<div class="contenedor">
  
    <nav>
        <a routerLink="/nosotros"><img src="../../../assets/photos/logo.px.jpg" alt=""></a>
            <a routerLink="/nosotros" class="nav-link">NOSOTROS</a>
            <a routerLink="/cervezas" class="nav-link">BEBIDAS</a>
            <a routerLink="" class="nav-link">FERIA EMPRENDEDORES</a>
            <a routerLink="/contacto" class="nav-link">CONTACTANOS</a>   
            <div class="sub">
                <a href="https://www.instagram.com/nopicnic.bar/" target="_blank"><img src="../../../assets/redes/instagram.png" alt="ig"></a>
             </div>
    </nav>

</div>