.contenedor{  
        box-sizing: border-box;
        flex-wrap: wrap;
}
nav{
    padding: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: black ;
    border-bottom: 1px solid  rgb(156, 82, 150);
    flex-wrap: wrap;
}
nav a img{
    width: 120px;
}
a:hover{
    color: rgb(156, 82, 150)
}
a{    
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    color: rgb(14, 184, 226);
    font-family: 'Roboto Mono', monospace;
}
a:hover{
    color: rgb(156, 82, 150)
}
