<br>
<br>
<div class="container">
    <p style="font-size:1rem">QUIENES SOMOS <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam doloremque pariatur odio? Amet, dignissimos asperiores? Corporis molestiae tempore labore praesentium magnam, officia velit laborum, aperiam quas iure cumque amet expedita.
        Maiores natus iure quod saepe! Officiis sed quibusdam delectus facilis non unde dolorem? Voluptatem consequuntur eligendi quasi, reiciendis porro facilis repellendus, nihil officia sit voluptas iste quae minima cumque recusandae.
        Obcaecati quidem, eos fugit ipsum architecto et maxime. Temporibus, earum nam! Ipsam, quisquam. Ducimus illum natus vitae cum dolor a consectetur nulla. Esse velit commodi excepturi enim quia dicta repellat.</p>
    <img src="../../../assets/photos/nosotros.cerveceria(1).jpg"alt="">
</div>
<div class="sub-contenedor">
        <img src="../../../assets/photos/gulliver.jpg" alt="">
            <p style="font-size:1rem">NUESTRO OBJETIVO <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, magni maiores dolor commodi porro provident omnis ducimus possimus, consectetur deleniti reiciendis accusantium sapiente. Corporis hic tempore laboriosam nisi neque reiciendis?
                Aliquid cupiditate quam ea amet, accusamus labore quisquam, velit ullam suscipit vero minus officia voluptas, similique assumenda dolores dolore molestiae! Consequatur obcaecati esse minus quo quaerat natus quidem iste maxime?
                Iusto aut, provident architecto autem saepe cum aperiam enim, error ipsam repudiandae ab eius doloribus quae obcaecati repellat molestiae labore, praesentium officiis eaque. Debitis officiis sint dolor nam sit et?
            </p>
</div>
<div class="contenedor">
        <p style="font-size:1rem">DONDE ENCONTRARNOS<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, magni maiores dolor commodi porro provident omnis ducimus possimus, consectetur deleniti reiciendis accusantium sapiente. Corporis hic tempore laboriosam nisi neque reiciendis?
            Aliquid cupiditate quam ea amet, accusamus labore quisquam, velit ullam suscipit vero minus officia voluptas, similique assumenda dolores dolore molestiae! Consequatur obcaecati esse minus quo quaerat natus quidem iste maxime?
            Iusto aut, provident architecto autem saepe cum aperiam enim, error ipsam repudiandae ab eius doloribus quae obcaecati repellat molestiae labore, praesentium officiis eaque. Debitis officiis sint dolor nam sit et?
        </p>
        <img src="../../../assets/photos/gulliver.jpg" alt="">

</div>

