<br>
<br>
<div class="container">
   <section class="encabezado" >
      <h1 style="text-align: center" class="animate__animated animate__zoomIn">QUIENES SOMOS</h1>
      <p class="animate__animated animate__zoomIn">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde aperiam dolorum dolor perferendis assumenda illum obcaecati natus. Qui facere ex magnam assumenda amet illo consectetur sequi quasi maiores possimus? Corporis!</p>
   </section>
   <div class="slider-frame"  >
      <ul>
         <li><img src="../../../assets/slider/slider1.jpg" alt=""></li>
         <li><img src="../../../assets/slider/slider3.jpg" alt=""></li>
         <li><img src="../../../assets/slider/slider5.jpg" alt=""></li>
         <li><img src="../../../assets/photos/home.trabajadores.jpg" alt=""></li>
      </ul>
   </div>
   <br>
   <br>
</div>
<app-footer></app-footer>
