<br>
<br>
<h1 style="text-align: center;">QUIENES SOMOS</h1>
<div class="container">
      <h4>NUESTRA PASION ES LA CERVEZA Y NUESTRA MISION QUE PASES UN BUEN MOMENTO<br></h4>
</div>
<div class="slider-frame">
   <ul>
      <li><img src="../../../assets/slider/slider1.jpg" alt=""></li>
      <li><img src="../../../assets/slider/slider3.jpg" alt=""></li>
      <li><img src="../../../assets/slider/slider5.jpg" alt=""></li>
      <li><img src="../../../assets/photos/home.trabajadores.jpg" alt=""></li>
   </ul>
</div>
<app-footer></app-footer>
