.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    padding: 15px;
}

img:hover{
    background-color:black;
    cursor: pointer;
    transform: scale(1.08);
    transition: all 1s ease;
}
