
<div class="dropdown-container">
    <button class="btn btn-info" (click)="show=!show">DIRECCION</button>
            <ul *ngIf="show"class="list">      
               <p>Mayor Olivero 1654 
                <br>
                Villa Centenario, Banfield.
               </p>
              <a  href="https://www.google.com/maps/dir//No+picnic+Av.+12+de+Octubre+1699+B1828DMO+Villa+Centenario+Provincia+de+Buenos+Aires/@-34.7358505,-58.4268453,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x95bccdccacbd0691:0xd727d52836c7a364!2m2!1d-58.4268453!2d-34.7358505" target="_blank" ><i class="fa-solid fa-map-location-dot" style="color: #ffffff;" ></i></a>  
            </ul>
</div>
