<div class="total">
<div class="container">
	<ngb-carousel>
		<ng-template ngbSlide *ngFor="let feria of feria1">
			<div class="picsum-img-wrapper">
				<img src="{{feria.img}}" alt="Random first slide" />
				<div class="carousel-caption">
					<h3>{{feria.nombre}}</h3>
					<p>{{feria.text}}</p>
				</div>
			</div>
			
		</ng-template>
	</ngb-carousel>
</div>
<br>
<br>
<div class="sub-container">
	<ngb-carousel>
		<ng-template ngbSlide *ngFor="let feria of feria2">
			<div class="picsum-img-wrapper">
				<img src="{{feria.img}}" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>{{feria.nombre}}</h3>
				<p>{{feria.text}}</p>
			</div>
		</ng-template>
	</ngb-carousel>
</div>
<br>
<br>
<div class="sub-container">
	<ngb-carousel>
		<ng-template ngbSlide *ngFor="let feria of feria3">
			<div class="picsum-img-wrapper">
				<img src="{{feria.img}}" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>{{feria.nombre}}</h3>
				<p>{{feria.text}}</p>
			</div>
		</ng-template>
	</ngb-carousel>
</div><br>
<br>
<div class="sub-container">
	<ngb-carousel>
		<ng-template ngbSlide *ngFor="let feria of feria4">
			<div class="picsum-img-wrapper">
				<img src="{{feria.img}}" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>{{feria.nombre}}</h3>
				<p>{{feria.text}}</p>
			</div>
		</ng-template>
	</ngb-carousel>
</div><br>
<br>
<div class="sub-container">
	<ngb-carousel>
		<ng-template ngbSlide *ngFor="let feria of feria5">
			<div class="picsum-img-wrapper">
				<img src="{{feria.img}}" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>{{feria.nombre}}</h3>
				<p>{{feria.text}}</p>
			</div>
		</ng-template>
	</ngb-carousel>
</div><br>
<br>
<div class="sub-container">
	<ngb-carousel>
		<ng-template ngbSlide *ngFor="let feria of feria6">
			<div class="picsum-img-wrapper">
				<img src="{{feria.img}}" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>{{feria.nombre}}</h3>
				<p>{{feria.text}}</p>
			</div>
		</ng-template>
	</ngb-carousel>
</div><br>
<br>
</div>

<app-footer></app-footer>
